html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
}

.content{
    width:1100px;
    margin:0 auto;
    padding:50px 0;
}

.top-bar{
    padding:15px 0;
}

.flex-container {
    display: flex;
    align-items: center;
    
}

.top-bar-content{
    width:1100px;
    margin:0 auto;
}

#logo-container, #nav-menu-container{
    flex:1;
}

a.logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    color:#f9faf8;
}

.top-bar, .hero-section-container, footer {
    background-color: #1f2937;
}

ul.nav-menu li{
    display:inline-block;
}

.menu-item{
    color:#e5e7eb;
    list-style-type: none;
    padding:0 15px;

}

.hero-content, .hero-img {
    flex:1;
    
}

.hero-img img{
    display:-webkit-box;
    margin-left: auto;
}

.hero-title{
    color:#f9faf8;
    font-weight: bold;
    font-size: 48px;
    margin:0.1em auto;
}

.hero-description{
    color:#e5e7eb;
    font-size: 18px;
    
}

.hero-cta{
    background-color: #3882f6;
    padding:10px 20px;
    border:n1px solid #3882f6;
    border-radius: 10px;
}

.hero-cta a {
    color:#f9faf8;
    text-decoration: none;
}

.info-img{
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.info-title{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: bold;
    margin-bottom:40px;
}

.info-cat {
    text-align: center;
}

.quote-section{
    background-color: #e5e7eb;
}

.quote-section .content {
    width:900px;
}

#quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin-bottom: 5px;
}

#author{
    text-align: right;
}

.cta-inner{
    background-color: #3882f6;
    margin:40px auto;
    padding:40px 60px;
    border-radius: 10px;

}

#cta-text h2, #cta-text p{
    color:#f9faf8;
    margin:5px auto;
}

#cta-text, #cta-btn{
    flex: 1;
}

#cta-btn{
    text-align: right;
   
}

.cta{
    padding: 10px 25px;
    background-color: transparent;
    border:2px solid #f9faf8;
    border-radius: 5px;
}

#cta-btn a{
    color:#f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.copyright{
    padding:30px;
    text-align: center;
    color:#f9faf8;
}

